.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #4337de;
  color: white;
}

.navbar__logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar__links {
  display: flex;
  gap: 25px;
}

.navbar__links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar__links a:hover {
  text-decoration: underline;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px;
  border-color: #f7f7f7;
}

.card {
  border-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  padding: 20px;
}

.gallery :hover {
  transform: scale(1.05);
}

.card:active {
  background-color: darkblue;
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card2 {
  position: relative;
  display: inline-block;
  z-index: 3;
}

.badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: crimson;
  color: white;
  padding: 6px 10px;
  brorder-radius: 4px;
  font-size: 14px;
  z-index: 2;
}

.cta {
    background-color: royalblue;
    color: white;
    padding: 12px 20px;
    border:none;
    border-radius: 6px;
    cursor: pointer;
}
.cta:hover {
    background-color: dodgerblue;
}

.cta:active {
    background-color: navy;
}

.cta::after {
    content: " →";
    font-weight: bold;
}