body {
  font-family:
    'segoe ui',
    sans-serif;
  border-color: #f9fafc;
  text-align: center;
  padding: 50px;
  display: flex;
}

.plan {
  border-color: rgb(0, 0, 0);
  width: 280px;
  margin: 0 auto;
  padding: 25px 10px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(2, 19, 69, 0.1);
  transition: transform 0.5s ease;
  max-width: 300px;
 
}

.plan:hover {
  transform: translateY(-4px);
  background-color: rgb(217, 241, 249);
  border-color: black;
  border: 2px solid #000000;
}

.plan--highlighted {
  border: 2px solid #4337de;
}

.plan__title {
  color: #333;
  fonti-size: 22px;
  margin-bottom: 10px;
}

.plan__price {
  font-size: 28px;
  color: #4337de;
  margin-bottom: 15px;
}

.plan__price span {
  font-size: 14px;
  color: #666;
}

.plan__features {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.plan__feature {
    margin: 8px 0;
    color: #555;
}

.plan__button {
    background-color: #4337de;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.plan__button:hover {
    background-color: #372fc3;
}