@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(300px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner {
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 10px;
  animation: fadeSlide 2s ease-in-out;
}

@keyframes slideGrow {
  from {
    transform: translateX(-100px) scale(0);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1.2);
    opacity: 1;
  }
}

.box {
  width: 200px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  animation: slideGrow 1s ease-out;
}
